.book-card{
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 10px;
    width: 230px;
    list-style-type: none;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
}
.info{
    display: flex;
    align-items: center;
}

.key{
    font-size: 16px;
}

.value{
    font-size: 16px;
    margin-left: 5px;
}
.addShelf-btn{
    background-color: rgb(53, 210, 53);
    border: none;
    border-radius: 10px;
    color: #ffffff;
    padding: 10px;
    align-self: center;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.empty{
    border: none;
    border-radius: 10px;
    color: #ffffff;
    padding: 10px;
    align-self: center;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

@media screen and (max-width: 576px){
    .book-card{
        margin-left: 30px;
    }
}